@import "tailwindcss";

:root {
    --background: #121212;
    --text-color: #F5F5F5;
    --text-color-secondary: #CCCCCC;
    --accent-color: #4CAF50;
    --background-secondary: #1E1E1E;
}



body {
    background: var(--background);
    color: var(--text-color);
    font-family: 'Fire code', monospace;
}
